
 body {
  background-color: ghostwhite;
}

label {
    display: block;
    min-width: 300px;
}

.noteformfield {
    margin-bottom: 10px;
}

select {
    font-size: 20px;
    min-width: 200px;
}

th {
    font-size: 25px;
    padding-left:5px;
    padding-right: 30px;
}

td {
    padding-left: 5px;
     padding-right: 30px;
     padding-top: 5px;
     padding-bottom: 5px;
}