<body>  

    <div class="jumbotron">
        <h1 class="display-3">Lukuvinkkikirjasto</h1>
        <p class="lead">Tervetuloa lukuvinkkikirjastoon! Valitse yläpalkista uuden vinkin tallennus tai tallennettujen vinkkien selailu.</p>
        <hr class="my-4">
        <p>Sovellus on Helsingin yliopiston Ohjelmistotuotanto-kurssin miniprojektin tuotos ryhmä Rebel Scrumilta.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://ohjelmistotuotanto-hy.github.io/" role="button">Kurssisivu</a>
            <a class="btn btn-primary btn-lg" href="https://github.com/lauripalonen/lukuvinkkikirjasto" role="button">Projektin Github</a>
        </p>
    </div> 

</body>