
<body>
    <h1>Tallennetut lukuvinkit</h1>        

    <form method="GET" action="/listnotes">
        <label>Valitse näytettävien lukuvinkkien tyyppi...</label>
        <select name="type_filter">
            <option selected="selected" value="1">Kaikki</option>
            <option value="2">Linkit</option>
            <option value="3">Kirjat</option>
        </select>


        <br></br>

        <label for="tag_filters">...ja suodata halutessasi tagien perusteella:</label>
        <input id="tag_filters" name="tag_filters" type="text" value="">
        <input type="submit" value="Hae">

        <br></br>
        <div name="all-tags">
            <p>Voit valita tagin myös klikkaamalla näistä:</p>
            #foreach ($tag in $all_tags)
            <a href="#" onClick=tagToFilterField("${tag}")>$tag</a>
            #end
        </div>

        <!--
        <br></br>
        #if (!$tag_filters.isEmpty())
        <p>Aktiiviset tagit: </p>
            <div class="filter-form-tags">
                #foreach ($tag in $tag_filters)
                <a href="#">$tag</a>
                #end
            </div>
        #end
        <-->

    </form>


    <br></br>
    <h4>Lukuvinkkisi:</h4>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Otsikko</th>
                <th scope="col">URL</th>
                <th scope="col">Tagit</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            #foreach ($note in $noteList)
            <tr class="table-active">
                <th scope="row">$note.getHeader()</th>
                <td><a href="https://$note.getUrl()">$note.getUrl()</a></td>
                <td>$note.getTagsAsString()</td>
                <td><a type="button" class="btn btn-primary" href="/notes/$note.getId()">Lisätiedot</a></td>
            </tr>
            #end
        </tbody>
    </table> 


</body>


<script>

    function tagToFilterField(tag) {
        tagsString = document.getElementById("tag_filters").value
        tagsArr = tagsString.split(" ")
        tagsArr.forEach(exTag => {
            if (exTag === tag) {
                document.getElementById("tag_filters").value = tagsString;
                return
            }
        })
        tagsString = tagsString.concat(" " + tag)
        document.getElementById("tag_filters").value = tagsString
    }

</script>