<!DOCTYPE html>

<html>
    <head>
        <title>Lukuvinkkikirjasto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1>Lukuvinkkikirjasto</h1>
        <h4>Muistiinpanojen tarkastelu</h4>

        <a href="/">Takaisin etusivulle</a> 
        <br></br>

        <form method="POST" action="/changelist">
            <label>Valitse näytettävät muistiinpanot:</label>
            <select name="listType" onChange="this.form.submit()">
                <option value="1">Kaikki</option>
                <option selected="selected" value="2">Linkit</option>
                <option value="3">Kirjat</option>
            </select>
        </form>

        <h5>Tallennetut linkit:</h5>
        #foreach ($link in $linkList)
        <p>$link.getHeader() - $link.getUrl()</p>
        #end

    </body>
</html>
