
<body>
    <h1>Tallennetut lukuvinkit</h1>    
    
    <br></br>

    <form method="GET" action="/listnotes">
        <label>Valitse näytettävät muistiinpanot:</label>
        <select name="type_filter">
            <option selected="selected" value="1">Kaikki</option>
            <option value="2">Linkit</option>
            <option value="3">Kirjat</option>
        </select>
        <label for="tag_filters">Suodata tagien perusteella:</label>
        <input name="tag_filters" type="text" value="">
        
        #if (!$tag_filters.isEmpty())
        <p>Aktiiviset tagit: </p>
            <div class="filter-form-tags">
                #foreach ($tag in $tag_filters)
                <a href="#">$tag</a>
                #end
            </div>
        #end
        
        <input type="submit" value="Filter">
    </form>

    <h5>Kaikki lukuvinkkisi:</h5>
<!--
    <table id="note_list">
        <tr>
            <th>Muistiinpano</th>
            <th>Osoite</th>
        </tr>
        #foreach ($note in $noteList)
        <tr>
            <td><a href="/notes/$note.getId()">$note.getHeader()</a></td>
            <td><a href="$note.getUrl()">$note.getUrl()</a></td>
        </tr>
        #end
    </table>!-->
        #foreach ($note in $noteList)
        <p>$note.getHeader() - $note.getUrl() - Lisätiedot: $note.getInfo() - Tagit: $note.getTagsAsString() - <a href="/notes/$note.getId()">Vinkkisivu</a></p>
        #end
</body>