

<body>
    <h1>Uuden lukuvinkin lisääminen</h1>

    <a type="button" class="btn btn-primary" href="#">Uusi kirja</a>
    <a type="button" class="btn btn-outline-primary" href="/newlink">Uusi linkki</a>
    <br></br>
    
    <h4>Lisää kirja:</h4>

    <form method="POST" action="/newbook">
        <div class="noteformfield">
            <label>Kirjan nimi:</label>
            <input type="text" name="header" id="bookHeader"/>
        </div>
        <div class="noteformfield">
            <label>URL:</label>
            <input type="text" name="url" id="bookUrl" />
        </div>
        <div class="noteformfield">
            <label>Kirjailija:</label>
            <input type="text" name="author" id="bookAuthor" />
        </div>
        <div class="noteformfield">
            <label>ISBN-tunniste:</label>
            <input type="text" name="isbn" id="bookISBN" />
            <button type="button" onClick=getBookInfo()>Hae ISBN-numerolla</button>
            <small id="ISBNInfo"></small>
        </div>
        <div class="noteformfield">
            <label>Lisätietoja:</label>
            <textarea name="info" rows="3" cols="30"></textarea>
        </div>
        <div class="noteformfield">
            <label>Tagit:</label>
            <input type="text" name="tags" />
        </div>

        <input name="add" type="submit" value="Lisää kirja">
    </form>

</body>

<script type="text/javascript">
    function getBookInfo() {
        const ISBN = document.getElementById("bookISBN").value.replace("-", "")
        document.getElementById("bookISBN").value = ISBN
        fetch(`https://openlibrary.org/api/books?bibkeys=ISBN:${ISBN}&jscmd=data&format=json`)
                .then(res => res.json())
                .then(data => {
                    data = data[`ISBN:${ISBN}`]
                    if (data == null) {
                        document.getElementById("ISBNInfo").innerHTML = "ISBN-numerolla ei löytynyt teoksia."
                        return
                    }
                    document.getElementById("ISBNInfo").innerHTML = ""
                    document.getElementById("bookHeader").value = data.title
                    authorsStr = ""
                    data.authors.forEach(author => {
                        authorsStr = authorsStr.concat(author["name"])
                        if (data.authors[data.authors.length - 1] !== author) {
                            authorsStr = authorsStr.concat(", ")
                        }
                    })
                    document.getElementById("bookAuthor").value = authorsStr
                    document.getElementById("bookUrl").value = data.url
                })
                .catch(err => {
                    console.log(err)
                })
    }
</script>